In [1]:
# import numpy as np
# import pandas as pd
# import matplotlib.pyplot as plt
# import math
# import os
# import glob 
# import scipy as scp

# globbed_files = glob.glob("time_features_Oz-Fpz/*.csv") #creates a list of all csv files

data = [] # pd.concat takes a list of dataframes as an agrument
for csv in globbed_files:
    frame = pd.read_csv(csv, index_col=0)
    data.append(frame)

bigframe = pd.concat(data, ignore_index=True) #dont want pandas to try an align row indexes
bigframe.to_csv("time_features_Oz-Fpz/combined_features.csv")
bigframe.head()

,count,mean,std,min,25%,50%,75%,max,kurtosis,skewness,ZCR,scores
0,3840.0,-1.580759,97.649190,-400.157721,-41.542852,4.171311,57.599452,280.846442,1.220124,-0.810577,485.0,0.0
1,3840.0,0.323107,107.554428,-347.076644,-63.731999,10.961969,71.246253,341.968916,0.248475,-0.352941,542.0,0.0
2,3840.0,0.389086,94.842311,-360.304349,-45.462050,4.826148,57.592904,289.215257,0.554508,-0.406163,558.0,0.0
3,3840.0,0.381067,88.302181,-335.734869,-29.493853,13.411059,48.133785,392.548517,1.657578,-0.862925,621.0,0.0
4,3840.0,1.233999,101.734477,-400.799461,-44.162199,20.214815,67.582440,326.999345,0.667490,-0.755182,555.0,0.0